# Python
__pycache__/
*.pyc

# Builds
build/
dist/
*.spec

# Logs
*.log
operaciones_*.log

# User Configuration
excluded_folders.json

# IDEs
.vscode/
.idea/
.gemini/
.agent/
_agents/

# Virtual Env
venv/
.venv/
env/

# OS
Thumbs.db
Desktop.ini
.DS_Store
